header {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  width: 100dvw;
  justify-content: space-between;
  align-items: center;
  background-color: #424242;
  z-index: 100;
  padding: 0 5%;
}

#nav-outter {
  width: 50%;
  margin-right: 15%;
  margin-left: 2%;
}

#nav-links {
  list-style-type: none;
  display: none;
  justify-content: space-between;
}

#nav-links > li::after {
  content: "";
  display: block;
  position: relative;
  width: 0;
  height: 2px;
  background-color: var(--acc-color);
  transition: 0.2s;
}

#nav-links > li:hover::after {
  width: 100%;
}

#nav-links > li > a {
  text-decoration: none;
}

#nav-links-dropout-button {
  position: relative;
  cursor: pointer;
}

#contact-tel {
  display: none;
}

#contact-tel > a {
  text-decoration: none;
}

#lang-switcher-outter {
  display: none;
}

#logo-outter > img {
  height: 6dvh;
  mix-blend-mode: screen;
  filter: invert(1);
}

#nav-links-menu-mobile {
  position: relative;
}

#menu-mobile-icon-outter {
  padding: 10px;
}

#menu-mobile-icon {
  font-size: 18pt;
}

@media screen and (width >= 880px) {
  header {
    position: static;
    bottom: unset;
    left: unset;
    width: 100%;
    z-index: unset;
    background-color: transparent;
    justify-content: space-evenly;
    padding: 0;
  }

  #nav-links-menu-mobile {
    display: none;
  }

  #nav-links {
    display: flex;
  }

  #contact-tel {
    display: unset;
  }

  #lang-switcher-outter {
    display: unset;
  }
}
