#company-clients {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 5rem;
  overflow: hidden;
}

#company-clients-header-outter {
  font-size: 26pt;
  padding: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#company-clients-body-outter {
  margin: auto;
  width: 80%;
  text-align: left;
}

#company-clients-gallery-2 {
  width: 140%;
  transform: translateX(-7%);
}
