<section id="company-experience">
  <div id="exp-image-outter">
      <img src="assets/images/laptop.png" alt="Laptop">
  </div>
  <div id="exp-content">
      <div id="exp-header-outter">
          <h1 class="text-light">10 years of customer experience!</h1>
      </div>
      <div id="exp-features">
          <div class="exp-feature">
              <p class="text-light">Responsible approach to working with clients, specially selected staff</p>
          </div>
          <div class="exp-feature">
              <p class="text-light">We use only high-quality certified products. and new equipment</p>
          </div>
      </div>
  </div>
</section>
