<section id="container">
  <app-header></app-header>
  <app-thumbnail></app-thumbnail>
  <div id="bg-video">
    <video
      autoplay
      muted
      loop
      oncanplay="this.play()"
      onloadedmetadata="this.muted = true"
      preload="auto">
        <source src="assets/videos/coffee_bg.webm" type="video/webm">
    </video>
  </div>
</section>
<app-services></app-services>
<app-support></app-support>
<app-experience></app-experience>
<app-pricelist></app-pricelist>
<app-cases></app-cases>
<app-team></app-team>
<app-reviews></app-reviews>
<app-clients></app-clients>
<app-request-form></app-request-form>
<app-footer></app-footer>
