#latest-cases {
  margin: 50px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

#latest-cases-cards {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 0.5%;
}

.case {
  box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
}

#show-more-cases {
  padding: 20px 70px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #999;
}

@media screen and (width >= 880px) {
  #latest-cases-cards {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .case.type1 {
    width: 33%;
  }

  .case.type2 {
    width: 66%;
  }
}
