<section id="company-services">
  <div id="services-thumbnail">
    <div id="services-thumbnail-header-outter">
      <h1>
        For 10 years our coffee house has been pleasing visitors
      </h1>
    </div>
    <div id="services-thumbnail-text-outter">
      <p>
        We try our best for you
      </p>
    </div>
  </div>
  <div id="services-content">
    <app-service-card
      *ngFor="let serviceCard of serviceCardsList"
      [serviceCard]="serviceCard"></app-service-card>
  </div>
</section>
