#company-team {
  padding-bottom: 3rem;
}

#company-team-header-outter {
  display: flex;
  justify-content: center;
  font-size: 20pt;
}

#company-employees {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  justify-content: center;
  align-items: start;
  column-gap: 1rem;
  row-gap: 1rem;
  margin: 0 auto;
  padding: 20px;
}



@media screen and (width >= 880px) {
  #company-employees {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
