.case-photo {
  height: 100%;
  z-index: -1;
  border-radius: 10px;
  overflow: hidden;
}

.case-photo > img {
  z-index: inherit;
  position: relative;
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.case-content {
  position: relative;
}

.case-content-inner {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
  background-color: rgba(0,0,0,0.3);
  backdrop-filter: blur(10px);
  border-radius: 0 0 10px 10px;
}

.case-title {
  font-size: 12pt;
  width: 100%;
}

.case-date > span {
  font-size: 10pt;
  color: #AAA;
  font-weight: 700;
}

.case-text {
  font-size: 10pt;
}

@media screen and (width >= 880px) {


  .case-title {
    font-size: 16pt;
  }

  .case-text {
    font-size: unset;
  }
}
